In [1]:
# a data frame is two dimensional data structure

In [2]:
import pandas as pd
data={
    'Name':['om','shreyas','vaibhav','vivek'],
    'Age':[23,23,24,21],
    'address':['delhi','mumbai','kannauj','kanpur'],
    'qulification':['btech','msc','mtech','phd']
}

df=pd.DataFrame(data)
print(df)

      Name  Age  address qulification
0       om   23    delhi        btech
1  shreyas   23   mumbai          msc
2  vaibhav   24  kannauj        mtech
3    vivek   21   kanpur          phd

In [7]:
print(df[['Name','address']])

      Name  address
0       om    delhi
1  shreyas   mumbai
2  vaibhav  kannauj
3    vivek   kanpur

In [9]:
# we can add new cloumn in our data set by using list,
salary=[2000,2100,2200,2300]

In [11]:
df['Salary']=salary

In [12]:
print(df)

      Name  Age  address qulification  Salary
0       om   23    delhi        btech    2000
1  shreyas   23   mumbai          msc    2100
2  vaibhav   24  kannauj        mtech    2200
3    vivek   21   kanpur          phd    2300

In [13]:
# in order delete a column in pandas dataframe we can use drop method.

In [17]:
import pandas as pd
df.drop(['Name'],axis =1, inplace=True)

KeyError: "['Name'] not found in axis"

In [18]:
df

   Age  address qulification  Salary
0   23    delhi        btech    2000
1   23   mumbai          msc    2100
2   24  kannauj        mtech    2200
3   21   kanpur          phd    2300

In [21]:
df.drop(['Salary'],axis=1,inplace=True)

KeyError: "['Salary'] not found in axis"

In [23]:
print(df)

   Age  address qulification
0   23    delhi        btech
1   23   mumbai          msc
2   24  kannauj        mtech
3   21   kanpur          phd

# Row selection

In [24]:
#pandas provide a uniques method to retrive rows from a dataframe.
#.loc[] methods is used to retrive row from pandas datframe.
#.iloc method is used to retrive column from pandas datframe

In [25]:
import pandas as pd
data={
    'Name':['om','shreyas','vaibhav','vivek'],
    'Age':[23,23,24,21],
    'address':['delhi','mumbai','kannauj','kanpur'],
    'qulification':['btech','msc','mtech','phd']
}

df=pd.DataFrame(data)
print(df)

      Name  Age  address qulification
0       om   23    delhi        btech
1  shreyas   23   mumbai          msc
2  vaibhav   24  kannauj        mtech
3    vivek   21   kanpur          phd

In [30]:
df.loc[2]

Name            vaibhav
Age                  24
address         kannauj
qulification      mtech
Name: 2, dtype: object

In [35]:
df

      Name  Age  address qulification
0       om   23    delhi        btech
1  shreyas   23   mumbai          msc
2  vaibhav   24  kannauj        mtech
3    vivek   21   kanpur          phd

In [39]:
new_row=pd.DataFrame({'Name':'aniket','Age':44,'address':'naittleee','qulification':'me'},index=[0])

In [40]:
df1=pd.concat([new_row,df]).reset_index(drop=True)

In [41]:
print(df1)

      Name  Age    address qulification
0   aniket   44  naittleee           me
1       om   23      delhi        btech
2  shreyas   23     mumbai          msc
3  vaibhav   24    kannauj        mtech
4    vivek   21     kanpur          phd