In [1]:
import pandas as pd
data = [1,2,3,4,5]
df= pd.Series(data)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# Creating a series from array
import pandas as pd
import numpy as np
data=np.array(['q','w','e','f','g'])
df=pd.Series(data)
print(df)

0    q
1    w
2    e
3    f
4    g
dtype: object

In [7]:
# Creating a series from Lists
import pandas as pd
import numpy as np
list=[1,2,3,'a','b']
df=pd.Series(list)
print(df)

0    1
1    2
2    3
3    a
4    b
dtype: object

# Accessing element of Series

In [8]:
#Accessing Element from Series with Position
import pandas as pd
import numpy as np
data= np.array(['a','b','c','d','e','f','g'])
df=pd.Series(data)
print(df)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [9]:
print(df[::-1])

6    g
5    f
4    e
3    d
2    c
1    b
0    a
dtype: object

In [10]:
print(df[:2])

0    a
1    b
dtype: object