# Pandas Introduction

> Pandas is a powerful and open-source library Python library for data manipulation and analysis, providing data structures and functions for efficient operations.

Pandas is like a superhero for handling data in Python. It's a library, or a collection of pre-written code, that makes working with data super easy and efficient. With Pandas, you can do all sorts of things with data, like organizing it into tables, cleaning it up, analyzing it, and even visualizing it. It's a must-have tool for anyone who deals with data in Python, whether you're a scientist, analyst, or just someone who loves digging into numbers.

Data set cleaning, merging, and joining.
Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data.
Columns can be inserted and deleted from DataFrame and higher dimensional objects.
Powerful group by functionality for performing split-apply-combine operations on data sets.
Data Visulaization

# Pandas Data Structures
Pandas generally provide two data structures for manipulating data, They are:

Series-A Pandas Series is a one-dimensional labeled array-like data structure provided by the Pandas library in Python. It's designed to handle a single sequence of data, similar to a column in a spreadsheet or a one-dimensional NumPy array, but with additional features.

DataFrame-A Pandas DataFrame is a two-dimensional labeled data structure provided by the Pandas library in Python. It's akin to a table or a spreadsheet, where data is organized into rows and columns, and each column can have a different data type.

In [1]:
# series example
import pandas as pd

# Creating a Series
s = pd.Series([10, 20, 30, 40, 50])

# Printing the Series
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
import pandas as pd

# Creating a dictionary with sample data
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'Paris', 'London', 'Tokyo']
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

    Name  Age      City
0   John   25  New York
1   Anna   30     Paris
2  Peter   35    London
3  Linda   28     Tokyo

In [4]:
# create empty dataframe
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
# create dataframe using list
import pandas as pd
list=[1,2,3,4,5]
df=pd.DataFrame(list)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
#create DataFrame from dict of narray/list
import pandas as pd
data={'Name' :['aniket','shreyas','sachin'],
      'Age'  :[19,12,16]
       }
df=pd.DataFrame(data)
print(df)

      Name  Age
0   aniket   19
1  shreyas   12
2   sachin   16

In [9]:
# Creating pandas data-frame from lists using dictionary
import pandas as pd
data = {
    'Name':['Aniket','aditya','pratik','om'],
    'degree' :['b.tech','b.engineering','M.tech','BSE'],
    'score': [20,30,40,50]
}
df=pd.DataFrame(data)
print(df)

     Name         degree  score
0  Aniket         b.tech     20
1  aditya  b.engineering     30
2  pratik         M.tech     40
3      om            BSE     50