# loc

In [1]:
# python is great language for doing data anlysis,pandas makes importing and anlyzing  data much easier. pandas provide unique method to retrive row form dataframe.
#dataframe.loc[]methods that take only index labesl and return row or dataframeif the index label exist in the caller data frame.

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('nba.csv')

In [4]:
print(data)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [9]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")

# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]


print(first, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [11]:
import pandas as pd
data=pd.read_csv("nba.csv",index_col='Name')
rows=data.loc[["Avery Bradley", "R.J. Hunter"]]
print(type(rows))
rows

<class 'pandas.core.frame.DataFrame'>

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [14]:
import pandas as pd
data=pd.read_csv('nba.csv',index_col='Team')
c=data.loc['Utah Jazz']
print(c)

                     Name  Number Position   Age Height  Weight       College  \
Team
Utah Jazz   Trevor Booker    33.0       PF  28.0    6-8   228.0       Clemson
Utah Jazz      Trey Burke     3.0       PG  23.0    6-1   191.0      Michigan
Utah Jazz      Alec Burks    10.0       SG  24.0    6-6   214.0      Colorado
Utah Jazz      Dante Exum    11.0       PG  20.0    6-6   190.0           NaN
Utah Jazz  Derrick Favors    15.0       PF  24.0   6-10   265.0  Georgia Tech
Utah Jazz     Rudy Gobert    27.0        C  23.0    7-1   245.0           NaN
Utah Jazz  Gordon Hayward    20.0       SF  26.0    6-8   226.0        Butler
Utah Jazz     Rodney Hood     5.0       SG  23.0    6-8   206.0          Duke
Utah Jazz      Joe Ingles     2.0       SF  28.0    6-8   226.0           NaN
Utah Jazz   Chris Johnson    23.0       SF  26.0    6-6   206.0        Dayton
Utah Jazz      Trey Lyles    41.0       PF  20.0   6-10   234.0      Kentucky
Utah Jazz    Shelvin Mack     8.0       PG  26.0    6-3   203.0        Butler
Utah Jazz       Raul Neto    25.0       PG  24.0    6-1   179.0           NaN
Utah Jazz    Tibor Pleiss    21.0        C  26.0    7-3   256.0           NaN
Utah Jazz     Jeff Withey    24.0        C  26.0    7-0   231.0        Kansas

               Salary
Team
Utah Jazz   4775000.0
Utah Jazz   2658240.0
Utah Jazz   9463484.0
Utah Jazz   3777720.0
Utah Jazz  12000000.0
Utah Jazz   1175880.0
Utah Jazz  15409570.0
Utah Jazz   1348440.0
Utah Jazz   2050000.0
Utah Jazz    981348.0
Utah Jazz   2239800.0
Utah Jazz   2433333.0
Utah Jazz    900000.0
Utah Jazz   2900000.0
Utah Jazz    947276.0

In [ ]:
import pandas as pd
data=pd.read_csv('nba.csv',index_col='Name')
rows=data.loc['Avery Bradley':'Isaiah Thomas']
print(rows)

In [16]:
import pandas as pd
data=pd.read_csv('nba.csv',index_col='Name')
rows=data.loc['Avery Bradley':'Amir Johnson']
print(rows)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
Amir Johnson   Boston Celtics    90.0       PF  29.0    6-9   240.0

                         College      Salary
Name
Avery Bradley              Texas   7730337.0
Jae Crowder            Marquette   6796117.0
John Holland   Boston University         NaN
R.J. Hunter        Georgia State   1148640.0
Jonas Jerebko                NaN   5000000.0
Amir Johnson                 NaN  12000000.0

# iloc

In [19]:
import pandas as pd
data=pd.read_csv('nba.csv')
row=data.loc[3]
row1=data.iloc[3]

print(row)
print(row1)

Name           R.J. Hunter
Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: 3, dtype: object
Name           R.J. Hunter
Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: 3, dtype: object

In [21]:
row==row1

Name        True
Team        True
Number      True
Position    True
Age         True
Height      True
Weight      True
College     True
Salary      True
Name: 3, dtype: bool

In [25]:
import pandas as pd
data=pd.read_csv('nba.csv')
row1=data.iloc[[4,5,6,7]]
row2=data.iloc[4:8]

print(row2)

            Name            Team  Number Position   Age Height  Weight  \
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0

   College      Salary
4      NaN   5000000.0
5      NaN  12000000.0
6      LSU   1170960.0
7  Gonzaga   2165160.0

In [26]:
row1==row2

   Name  Team  Number  Position   Age  Height  Weight  College  Salary
4  True  True    True      True  True    True    True    False    True
5  True  True    True      True  True    True    True    False    True
6  True  True    True      True  True    True    True     True    True
7  True  True    True      True  True    True    True     True    True

In [27]:
import pandas as pd

# Creating a sample DataFrame
data = pd.DataFrame({
	'Name': ['Geek1', 'Geek2', 'Geek3', 'Geek4', 'Geek5'],
	'Age': [25, 30, 22, 35, 28],
	'Salary': [50000, 60000, 45000, 70000, 55000]
})

# Setting 'Name' column as the index for clarity
data.set_index('Name', inplace=True)

# Displaying the original DataFrame
print("Original DataFrame:")
print(data)

# Extracting a single row by index
row_alice = data.iloc[0, :]
print("\nExtracted Row (Geek1):")
print(row_alice)

# Extracting multiple rows using a slice
rows_geek2_to_geek3 = data.iloc[1:3, :]
print("\nExtracted Rows (Geek2 to Geek3):")
print(rows_geek2_to_geek3)

Original DataFrame:
       Age  Salary
Name
Geek1   25   50000
Geek2   30   60000
Geek3   22   45000
Geek4   35   70000
Geek5   28   55000

Extracted Row (Geek1):
Age          25
Salary    50000
Name: Geek1, dtype: int64

Extracted Rows (Geek2 to Geek3):
       Age  Salary
Name
Geek2   30   60000
Geek3   22   45000