In [2]:
#indexing in pandas means simply selecting particular rows and column of data from a dataframe
#Indexing could mean selecting all the rows and some of the columns
#some of the rows and all of the columns, or some of each of the rows and columns

In [5]:
# selecting a single column
import pandas as pd
data=pd.read_csv('nba.csv',index_col='Name')
first=data['Age']
print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

In [10]:
# selecting a single column
import pandas as pd
data=pd.read_csv('nba.csv',index_col="Name")
first=data[["Age","College", "Salary"]]
print(first)

                Age            College     Salary
Name
Avery Bradley  25.0              Texas  7730337.0
Jae Crowder    25.0          Marquette  6796117.0
John Holland   27.0  Boston University        NaN
R.J. Hunter    22.0      Georgia State  1148640.0
Jonas Jerebko  29.0                NaN  5000000.0
...             ...                ...        ...
Shelvin Mack   26.0             Butler  2433333.0
Raul Neto      24.0                NaN   900000.0
Tibor Pleiss   26.0                NaN  2900000.0
Jeff Withey    26.0             Kansas   947276.0
NaN             NaN                NaN        NaN

[458 rows x 3 columns]

In [12]:
import pandas as pd
data=pd.read_csv('nba.csv',index_col="Name")
first=data.loc['Avery Bradley']
second=data.loc['R.J. Hunter']
print(first,"\n\n\n",second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [ ]:
import pandas as pd

In [13]:
data = pd.read_csv("nba.csv",index_col="Name")
firs=data.loc[['Avery Bradley','R.J. Hunter']]

In [14]:
print(first)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [15]:
import pandas as pd
data=pd.read_csv('nba.csv',index_col="Name")

row2=data.iloc[2]

print(row2)

Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

In [16]:
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")


# retrieving multiple rows by iloc method
row2 = data.iloc [[3, 5, 7]]



row2

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

In [17]:
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")


# retrieving two rows and two columns by iloc method
row2 = data.iloc [[3, 4], [1, 2]]



print(row2)

               Number Position
Name
R.J. Hunter      28.0       SG
Jonas Jerebko     8.0       PF

In [18]:
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")


# retrieving all rows and some columns by iloc method
row2 = data.iloc [:, [1, 2]]



print(row2)

               Number Position
Name
Avery Bradley     0.0       PG
Jae Crowder      99.0       SF
John Holland     30.0       SG
R.J. Hunter      28.0       SG
Jonas Jerebko     8.0       PF
...               ...      ...
Shelvin Mack      8.0       PG
Raul Neto        25.0       PG
Tibor Pleiss     21.0        C
Jeff Withey      24.0        C
NaN               NaN      NaN

[458 rows x 2 columns]